// -----------------------------------------------------------------------------
// !-- Working.scss
//
// This file is simply a sketchpad for working through css ideas/approaches.
// Before adding to this fil, you should move anything already in it to it's
// proper place in the application.
//
// -----------------------------------------------------------------------------

$light-grey: #ededef;
$white: #ffffff;

body {
  background-color: $light-grey;
}

.section {
  margin: 20px;
}

.personCard {
  background-color: $white;
  max-width: 400px;
  margin: 10px;
  padding: 10px;
}
