// -----------------------------------------------------------------------------
// Table of Contents
//
// - General
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- General
// -----------------------------------------------------------------------------

$html: (
  fontSize: 16px
);

$body: (
  color: $black,
  font: $serif,
  bg: $white
);

$selection: (
  bg: transparentize($black, .6),
  color: $black
);
