// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Buttons
//  - Forms
//  - Tables
//  - Text
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Buttons
// -----------------------------------------------------------------------------

$button: (
);

// -----------------------------------------------------------------------------
// !-- Forms
// -----------------------------------------------------------------------------

$input: (
  borderColor: $gray,
  color: $gray,
  color--focus: $black,
  fontSize: 16px,
  spacing: 5px,
);

// -----------------------------------------------------------------------------
// !-- Tables
// -----------------------------------------------------------------------------

$table: (
);

$tr: (
);

$cells: (
);

// -----------------------------------------------------------------------------
// !-- Text
// -----------------------------------------------------------------------------

$heading: (
  color: $black,
  weight--bold: 700,
  weight--normal: 400,
);
