// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Navigation
//  - Text
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Navigation
// -----------------------------------------------------------------------------

$breadcrumbs: (
);

$main: (
);

$pagination: (
);

// -----------------------------------------------------------------------------
// !-- Text
// -----------------------------------------------------------------------------

$byline: (
);

$mailingAddress: (
);

$headingGroup: (
);

$quote: (
);
